.button-container {
  background-color: grey;
  margin-top: 10px;
  box-shadow: black 3px 3px 5px;
  position: relative;
  float: left;
  width: 100px;
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
  padding-top: 35px;
  box-sizing: border-box;
  cursor: pointer;
}

.button-container:hover {
  background-color: yellow;
}