* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  color: white;
  background-color: black;
  font-family: Lato, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tittle{
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}

.speaker{
  height: 80px;
  margin: 50px;
}

.main-container {
    outline: 5px solid orange;
    position: relative;
    width: 660px;
    text-align: center;
    background-color: #b3b3b3;
    color: black;
}


.drum-pads-container  {
  width: 332px;
  height: 272px;
  display: inline-block;
  margin: 20px;
}

/*Buttoms*/

.drum-pad  {
  background-color: grey;
  margin-top: 10px;
  box-shadow: black 3px 3px 5px;
  position: relative;
  float: left;
  width: 100px;
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
  padding-top: 35px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}

.btn-warning, .drum-pad:hover {
  background-color: rgb(236, 178, 17);
}

/*Volume and Display */

.config-container {
  
  width: 240px;
  height: 272px;
  display: inline-block;
  margin: 40px 20px 0 10px;
  vertical-align: top;
}

.volume {
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}
.volume-range { 
    margin: 12.5px 0;
    width: 100%;
    border: 25px;
}
.volume-range::-webkit-slider-thumb{
  -webkit-appearance: none;
  cursor: pointer;
}
.volume-range::-webkit-slider-thumb:hover{
  box-shadow: 0 0 0 10px rgba(253, 202, 1, 0.3);
  border-radius: 50%;
}

.display {
  width: 200px;
  background-color: gray;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
  font-family: 'Press Start 2P';
  color: rgb(32, 255, 3);
  -webkit-text-stroke: 0.25px black;
  text-shadow: -2px 2px black;
}


/*Firma */

.author {
  font-size: 25px;
  color: white;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 50px;
}

.author a {
  font-size: 25px;
  text-decoration: none;
  color: #ffd900;
  line-height: 26px;
}