html,body {
  background-color: black;
  color: #f5f5f5;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*APP CONTAINER*/

.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/*TITULO*/
.tittle-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

}

.tittle{
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.speaker{
  margin-bottom: 60px;
  width: 80px; 
  height: auto; 
  margin-bottom: 60px;
}

/*CONTENEDOR PRINCIPAL*/
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 25px;
  outline: 5px solid orange;
  background-color: #333;
  color: #f5f5f5;
  padding: 10px; 
}

/*CONTENEDOR BOTONES*/
.drum-pads-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 10px;
  padding: 10px;
}

/*BOTONES*/
.drum-pad {
  text-align: center;

  background-color: #555;
  color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding-top: 35px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;

  aspect-ratio: 1 / 1;
  
  /* Alinear el texto al centro del botón */
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0px 40px 0px 40px;
}

.btn-warning, .drum-pad:hover {
  background-color: #f5f5f5;
  color: #333;
}

/* Transiciones suaves para los cambios de estado */
.drum-pad, .btn-warning, .drum-pad:hover {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efecto de "pulsación" para los botones de la batería */
.drum-pad:active {
  transform: scale(0.95);
}

/*Volume and Display */

.config-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px;
  padding-bottom: 50px;
}

.volume {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
}

.volume-range {
    width: 220px;
    border: 25px;
    margin-bottom: 15px;

}
.volume-range::-webkit-slider-thumb{
  -webkit-appearance: none;
  cursor: pointer;
}
.volume-range::-webkit-slider-thumb:hover{
  box-shadow: 0 0 0 10px rgba(253, 202, 1, 0.3);
  border-radius: 50%;
}

.display {
  height: 50px;
  width: 220px;
  background-color: gray;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
  font-family: 'Press Start 2P';
  color: rgb(32, 255, 3);
  -webkit-text-stroke: 0.25px black;
  text-shadow: -2px 2px black;
  text-align: center;

}


/*Firma */

.author {
  font-size: 25px;
  color: white;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 50px;
}

.author a {
  font-size: 25px;
  text-decoration: none;
  color: #ffd900;
  line-height: 26px;
}


/* Estilos para dispositivos con pantalla grande */
@media (min-width: 1200px) {

  .App {
    flex-direction: row;
    align-items: flex-start;
  }

  .main-container {
    width: 80%;
  }

  .drum-pads-container, .config-container {
    width: 45%;
  }

  .drum-pad {
    width: 30%;
  }

}

/* Estilos para dispositivos con pantalla mediana */
@media (min-width: 768px) and (max-width: 1199px) {

  .App {
    flex-direction: row;
    align-items: flex-start;
  }

  .main-container {
    width: 90%;
  }

  .drum-pads-container, .config-container {
    width: 45%;
  }

  .drum-pad {
    width: 30%;
  }
}

/* Estilos para dispositivos con pantalla pequeña */
@media (max-width: 767px) {
  
  .App {
    flex-direction: column;
    align-items: center;
  }
  

  .main-container {
    width: 90%; 
  }

  .drum-pads-container, .config-container {
    width: 100%;
  }

  .drum-pad {
    width: 30%; 
  }

  .tittle {
    font-size: 1.2rem; 
  }

  .volume {
    font-size: 1rem; 
  }

  .author {
    font-size: 0.8rem; 
  }

  .author a {
    font-size: 0.8rem; 
  }
}