* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  color: white;
  background-color: black;
  font-family: Lato, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.drum-machine {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-principal {
 outline: 5px solid orange;
    position: relative;
    width: 660px;
    text-align: center;
    background-color: #b3b3b3;
}

.contenedor-teclas  {
  background-color: rgb(248, 4, 4);
  width: 332px;
  height: 272px;
  display: inline-block;
  margin: 20px;
}

.fila {
  background-color: rgb(129, 129, 208);
  display: flex;
  align-items: center;
  justify-content: center;
}

.drum-pads  {
  width: 332px;
  height: 272px;
  display: inline-block;
  margin: 20px;
}

.drum-pad  {
  background-color: grey;
  margin-top: 10px;
  box-shadow: black 3px 3px 5px;
  position: relative;
  float: left;
  width: 100px;
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
  padding-top: 35px;
  box-sizing: border-box;
  cursor: pointer;
}

.btn-warning, .drum-pad:hover {
  background-color: rgb(236, 178, 17);
}


.contenedor-config  {
  background-color: black;
  width: 240px;
  height: 272px;
  display: inline-block;
  margin: 40px 20px 0 10px;
  vertical-align: top;
}